<div class="container">
    <div class="header">
        <div class="font-large bold">
            Relics
        </div>
        <button class="round" nz-popover [nzPopoverContent]="relicTemplate" [(nzPopoverVisible)]="addSetVisible"
            nzPopoverPlacement="rightTop" nzPopoverTrigger="click">
            <span class="material-icons">
                add
            </span>
        </button>
    </div>

    <div class="equipment-set-layout">
        <div *ngFor="let relic of currentRelics" class="equipment-item bold">
            <img [src]="'assets/relics/' + relic.icon" [alt]="relic.name">
            <div>
                <div class="font-thin font-small">
                    {{relic.type === relicType.RelicSet ? 'Relic Set' : 'Planetary Ornament Set'}}
                </div>
                <div>
                    ({{pieceCount(relic)}}) {{relic.name}}
                </div>
            </div>
        </div>
    </div>
    <div>
        <relic-slot-selector *ngIf="currentEquipment" [selected]="currentEquipment?.equipmentSlotType"
            (selectedChange)="changeEquipmentSlot($event)" />
        <div class="background-highlight">
            <relic-builder *ngIf="currentEquipment" [equipmentBuild]="currentEquipment"
                (equipmentBuildChange)="equipmentBuildChange($event)" />
        </div>
    </div>
</div>

<ng-template #relicTemplate>
    <div class="popover-container">
        <relic-set-selector *ngIf="currentBuild" [selected]="currentBuild.relicIds" (selectedChange)="relicChange($event)"/>
    </div>
</ng-template>