<div class="container">
    <div class="header font-large bold">
        <div>{{characterInfo?.name}}</div>
    </div>
    
    <div class="stat-container">
        <div class="item-value-layout">
            <div>HP</div>
            <div>{{characterInfo?.stats?.base?.hp ?? 0}}</div>
        </div>
        <div class="item-value-layout">
            <div>ATK</div>
            <div>{{characterInfo?.stats?.base?.atk ?? 0}}</div>
        </div>
        <div class="item-value-layout">
            <div>DEF</div>
            <div>{{characterInfo?.stats?.base?.def ?? 0}}</div>
        </div>
        <div class="item-value-layout">
            <div>SPD</div>
            <div>{{characterInfo?.stats?.base?.spd ?? 0}}</div>
        </div>
        <div class="item-value-layout">
            <div>CRIT Rate</div>
            <div>{{characterInfo?.stats?.base?.critRate ?? 0}}</div>
        </div>
        <div class="item-value-layout">
            <div>CRIT Dmg</div>
            <div>{{characterInfo?.stats?.base?.critDmg ?? 0}}</div>
        </div>
        <div class="item-value-layout">
            <div>Break Effect</div>
            <div>{{characterInfo?.stats?.base?.breakEffect ?? 0}}</div>
        </div>
        <div class="item-value-layout">
            <div>Outgoing Healing</div>
            <div>{{characterInfo?.stats?.base?.outgoingHealing ?? 0}}</div>
        </div>
        <div class="item-value-layout">
            <div>Energy</div>
            <div>{{characterInfo?.stats?.base?.maxEnergy ?? 0}}</div>
        </div>
        <div class="item-value-layout">
            <div>Energy Regeneration Rate</div>
            <div>{{characterInfo?.stats?.base?.energyRegenerationRate ?? 0}}</div>
        </div>
        <div class="item-value-layout">
            <div>Effect Hit Rate</div>
            <div>{{characterInfo?.stats?.base?.effectHitRate ?? 0}}</div>
        </div>
        <div class="item-value-layout">
            <div>Effect Res</div>
            <div>{{characterInfo?.stats?.base?.effectRes ?? 0}}</div>
        </div>
        <div class="item-value-layout">
            <div>{{characterInfo?.element}} DMG</div>
            <div>{{characterInfo?.stats?.base?.fireDmg ?? 0}}</div>
        </div>
        <div class="item-value-layout">
            <div>Basic ATK DMG</div>
            <div>{{characterInfo?.stats?.base?.basicAtkDmg ?? 0}}</div>
        </div>
        <div class="item-value-layout">
            <div>Skill DMG</div>
            <div>{{characterInfo?.stats?.base?.skillDmg ?? 0}}</div>
        </div>
        <div class="item-value-layout">
            <div>Ultimate DMG</div>
            <div>{{characterInfo?.stats?.base?.ultimateDmg ?? 0}}</div>
        </div>
        <div class="item-value-layout">
            <div>Follow Up DMG</div>
            <div>{{characterInfo?.stats?.base?.followUpDmg ?? 0}}</div>
        </div>
        <div class="item-value-layout">
            <div>DoT DMG</div>
            <div>{{characterInfo?.stats?.base?.dotDamage ?? 0}}</div>
        </div>
    </div>
</div>