<div class="container">
    <button class="equip-slot" [class.selected]="selected === equipmentSlotType.Head"
        (click)="select(equipmentSlotType.Head)">
        <img class="equipment-icon" src="assets/equipment-slots/head-icon.png">
    </button>
    <button class="equip-slot" [class.selected]="selected === equipmentSlotType.Hands"
        (click)="select(equipmentSlotType.Hands)">
        <img class="equipment-icon" src="assets/equipment-slots/hands-icon.png">
    </button>
    <button class="equip-slot" [class.selected]="selected === equipmentSlotType.Body"
        (click)="select(equipmentSlotType.Body)">
        <img class="equipment-icon" src="assets/equipment-slots/body-icon.png">
    </button>
    <button class="equip-slot" [class.selected]="selected === equipmentSlotType.Feet"
        (click)="select(equipmentSlotType.Feet)">
        <img class="equipment-icon" src="assets/equipment-slots/feet-icon.png">
    </button>
    <button class="equip-slot" [class.selected]="selected === equipmentSlotType.PlanarSphere"
        (click)="select(equipmentSlotType.PlanarSphere)">
        <img class="equipment-icon" src="assets/equipment-slots/planar-sphere-icon.png">
    </button>
    <button class="equip-slot" [class.selected]="selected === equipmentSlotType.LinkRope"
        (click)="select(equipmentSlotType.LinkRope)">
        <img class="equipment-icon" src="assets/equipment-slots/link-rope-icon.png">
    </button>
</div>